{
    "openapi": "3.0.0",
    "info": {
        "title": "Ords Madhack",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://g628708482bc6f7-madhackhsb.adb.ap-mumbai-1.oraclecloudapps.com/ords/madhack/hsbooking",
            "description": "Ords Madhack"
        }
    ],
    "paths": {
        "/seatAvail": {
            "get": {
                "operationId": "getSeatAvail",
                "parameters": [
                    {
                        "name": "officeId",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "x-vb": {
                            "defaultValue": "1"
                        }
                    },
                    {
                        "name": "bookingDate",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "x-vb": {
                            "defaultValue": "2021-10-27"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSeatAvail"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getSeatAvail/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetSeatAvail": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "o_date": {
                                    "type": "string"
                                },
                                "office_id": {
                                    "type": "integer"
                                },
                                "hs_total": {
                                    "type": "integer"
                                },
                                "hs_available": {
                                    "type": "integer"
                                },
                                "s_mt_total": {
                                    "type": "integer"
                                },
                                "s_mt_avl": {
                                    "type": "integer"
                                },
                                "x_mt_total": {
                                    "type": "integer"
                                },
                                "x_mt_avl": {
                                    "type": "integer"
                                },
                                "office_open_fl": {
                                    "type": "string"
                                },
                                "created_by": {
                                    "type": "string"
                                },
                                "created_date": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}